# =========================================================================
# Outils de Build (Code généré automatiquement)
# =========================================================================
target/
.mvn/wrapper/maven-wrapper.jar
build/

# Fichiers de documentation par défaut
HELP.md

# =========================================================================
# Configuration locale et Sécurité (Variables d'environnement)
# =========================================================================
# C'est ici que tu stockes tes vrais mots de passe en local (comme API_DB_PASSWORD)
.env
.env.local
.env.*.local

# Fichiers de propriétés spécifiques à un environnement local (optionnel)
**/src/main/resources/application-local.properties
**/src/main/resources/application-local.yml
**/src/main/resources/application-dev.properties
**/src/main/resources/application-dev.yml

# Logs du serveur
*.log
logs/

# =========================================================================
# IDEs et Éditeurs de texte (Fichiers spécifiques à ton ordi)
# =========================================================================
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================================================================
# Système d'exploitation
# =========================================================================
.DS_Store
Thumbs.db